.container {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

main {
  margin-top: 150px;
  min-height: calc(100vh - 240px);
}

h1 {
  font-size: 24px;
  color: #282c34;
}

/* Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  padding: 20px 0;
  z-index: 100;
}

nav a {
  color: #fff;
}

nav .title a {
  font-size: 32px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
}

.navbar a.active {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #282c34;
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #fff;
}

footer p {
  margin-bottom: 0;
}

/* 景點列表 */
.tour-list-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  list-style: none;
  padding: 0;
}

.tour-list-wrapper li {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  overflow: hidden;
  transition-duration: .3s;
}

.tour-list-wrapper li:hover {
  opacity: 0.5;
}

.tour-list-wrapper li img {
  display: block;
  width: 100%;
}

.tour-list-wrapper li a {
  text-decoration: none;
}

.tour-list-wrapper li p {
  color: #333;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .tour-list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .tour-list-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .tour-list-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 景點詳細頁 */
.detail img {
  display: block;
  margin: 0 auto 20px;
}

/* 原始資料 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}